@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

html {
    background-color: $primary;
}

.game-board-wrapper {
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;

}


.game-board {
    display: grid;
    grid-template: repeat(3, minmax(175px, auto)) / repeat(3, minmax(150px, auto));
    align-items: center;
    justify-items: center;
    text-align: center;
    align-self: center;
    font-size: 72px;

    &__cell {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        display: grid;
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-color: rgba($accent, .25);
        align-items: center;
        color: darken($primary, 12);
        background-color: $secondary;
    }

}

#cell-0 {
    border-top-left-radius: 8px;
}

#cell-2 {
    border-top-right-radius: 8px;
}

#cell-6 {
    border-bottom-left-radius: 8px;
}

#cell-8 {
    border-bottom-right-radius: 8px;
}