@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

@mixin btn {
    padding: 15px;
    background-color: whitesmoke;
    color: darken($primary, 25);
    border: none;
    border-radius: 8px;
}

html {
    background-color: $primary;
}

.game-board-wrapper {
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 20px;
    position: relative;

    &__title {
        grid-column: 1 / span 2;
    }

    &__new-game {
        @include btn;
        justify-self: right;
    }

    &__reset {
        @include btn;
        justify-self: left;
    }

}


.game-board {
    display: grid;
    grid-template: repeat(3, minmax(175px, auto)) / repeat(3, minmax(150px, auto));
    align-items: center;
    justify-items: center;
    text-align: center;
    align-self: center;
    font-size: 72px;
    grid-column: 1 / span 2;

    &__cell {
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        display: grid;
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-color: rgba($accent, .25);
        align-items: center;
        color: darken($primary, 12);
        background-color: $secondary;
    }

}

#cell-0 {
    border-top-left-radius: 8px;
}

#cell-2 {
    border-top-right-radius: 8px;
}

#cell-6 {
    border-bottom-left-radius: 8px;
}

#cell-8 {
    border-bottom-right-radius: 8px;
}

.new-game-form-wrapper {
    position: absolute;
    background-color: whitesmoke;
    width: 30vw;
    height: 30vh;
    color: black;
    
    &_hidden {
        display: none;
    }

    &_show {
        display: flex;
    }
}